
<%- include("partials/header",{path:'/settings/divission'}) %>
<main class="content">
    <div class="container-fluid p-0">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Add new</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Add new divission</h5>
                    </div>
                    <div class="card-body">
                        <form id="main" action="/settings/divission" method="post" >
                            <div class="row">
                                <div class="mb-3 col-md-6 col-lg-6 col-xl-6">
                                    <label class="form-label" >Name</label>
                                    <input type="text"required class="form-control" name="name">
                                </div>
                            </div>                   
                        </form>
                        <div class="btn-group btn-group-lg mb-3" role="group" aria-label="Large button group">
                            <button type="submit"form="main" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include("partials/footer") %>