<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />
	<link rel="canonical" href="pages-sign-in.html" />
	<title>Sign In</title>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&amp;display=swap" rel="stylesheet">
	<link href="css/light.css" rel="stylesheet">
</head>
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
	<main class="d-flex w-100 h-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
                                    <div class="text-center mb-8 mt-4">
                                        <h1 class="h2">Submit the OTP</h1>
                                        <p class="lead">
                                            We've sent an OTP to your phone number which you just entered 
                                        </p>
                                    </div>
									<form class="mt-50" action="/login/verify"method="post">
										<% if(msg.length!==0){ %>
											<div class="alert alert-danger alert-dismissible mt-4" role="alert">
												<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
												<div class="alert-message">
													<%= msg%>
												</div>
											</div>
											<% } %>
										<div class="mb-3">
											<label class="form-label">Enter the OTP here</label>
											<input type="hidden" name="phone" value="<%= phone %>"/>
											<input class="form-control form-control-lg" type="text" name="otp" placeholder="6 digit OTP" />
										</div>
										<div class="text-center mt-3">
											<button type="submit" class="btn btn-lg btn-primary">Send OTP</button>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>
	<script src="js/app.js"></script>
</body>
</html>